@value usedValue: #f00;
@value unusedValue: #0f0;

@keyframes my-animation {
  from { color: red; }
  to { color: green; }
}

:global(.global-class) {
  color: usedValue;

  .word {
    background: green;
  }
}

.dashed-class {
  color: green;

  &.underscore_class {
    background: green;
  }
}

:global .global-class :local .camelCaseClass {
  color: green;
}

.composed-class {
  composes: dashed-class;
  animation: my-animation 3s ease-in;
}
